backcall==0.2.0
certifi==2020.6.20
click==7.1.2
decorator==4.4.2
Flask==1.1.2
ipykernel @ file:///tmp/build/80754af9/ipykernel_1595347145358/work/dist/ipykernel-5.3.3-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1593447368578/work
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi @ file:///tmp/build/80754af9/jedi_1592841891421/work
Jinja2==2.11.2
joblib==0.16.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-core==4.6.3
MarkupSafe==1.1.1
numpy==1.19.1
pandas==1.0.5
parso==0.7.0
pexpect @ file:///tmp/build/80754af9/pexpect_1594383317248/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1594384075987/work
prompt-toolkit==3.0.5
ptyprocess==0.6.0
Pygments==2.7.4
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.1
scikit-learn==0.23.1
scipy==1.5.2
six==1.15.0
threadpoolctl==2.1.0
tornado==6.0.4
traitlets==4.3.3
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
Werkzeug==1.0.1
